.header{
  position: fixed;
top: 0;
width: 100%;
z-index: 8000;
background: #fff;
box-shadow: 0 1px 20px 0 rgba(46,61,73,.2);
-webkit-animation: sticky-slide-down .4s ease .25s forwards;
animation: sticky-slide-down .4s ease .25s forwards;
}
.center{
      margin-top: 6em;
}

.footer{
  padding: 1em 0;
background-image: -webkit-gradient(linear,left top,right bottom,from(#f7f7f7),to(#eafbff));
background-image: linear-gradient(to bottom right,#f7f7f7,#eafbff);
background: #292828;
    color: white;
bottom: 0;
width: 100%;
}
.footer div{
  text-align: center;
}
.center div h1{
  text-align: center;
}
.center div form{
  margin-top: 0;
margin-bottom: 1.5rem;
text-align: left;
position: relative;
background: #fff;
-webkit-box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
border-radius: .375rem;
-webkit-transition: all .3s ease;
transition: all .3s ease;
padding: 1em;
/* height: 7.5rem; */

display: block;
}
.center div form label,.center div form input{
  margin: 1em auto;
}
.btn{
  width: 100%;
text-decoration: none;
cursor: pointer;
display: inline-block;
text-align: center;
border: none;
line-height: 50px;
font-size: 14px;
height: 50px;
padding: 0 2rem;
color: #292828;
letter-spacing: 0;
color: #fff;
background-color: #292828;
box-shadow: 0 1px 3px 0 rgba(0,0,0,.12);
font-size: 16px;
font-weight: 600;
height: 40px;
line-height: 40px;
width: auto;
border-radius: 0;
}
.adduser_lnk_btn{
  text-align: right;
  padding: 1em;
}
.right_adduser_panel{
  width: 30%;
padding: 1em;
position: absolute;
top: 0;
position: fixed;
top: 0;
height: 100%;
 overflow-y: scroll;
background: #292828;
transition: -webkit-transform .3s ease-out;
transition: all .3s ease-out;
transition: all .3s ease-out,-webkit-transform .3s ease-out;
z-index: 10001;
-webkit-transform: translateZ(0);
transform: translateZ(0);
right: -100%;
}
.right_adduser_panel.open{
  right: 0;
}
.right_adduser_panel form input,.right_adduser_panel form button{

  margin: 1em auto;
  width: 100%;

  line-height: normal;

  height: 70px;
  width: 100%;
  font-size: 17px;
  margin: 0;
  box-shadow: none;
  box-sizing: border-box;
  border-radius: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  border: 1px solid white;
  background: transparent;
  color: white;
}
.right_panel_details{
  position: relative;
  padding-top: 30px;
  margin: 3em;
  margin-bottom: 69px;
  z-index: 1;
}
.right_panel_details h3{
  color: white;
}
.right_adduser_panel form button{
  background: white;
color: #292828;
}
.close-btn{
  font-family: icomoon;
speak: none;
font-style: normal;
font-weight: 400;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
color: white;
cursor: pointer;
    font-weight: 600;
}
.user_container{
  margin-top: 0;
margin-bottom: 1.5rem;
text-align: left;
position: relative;
background: #fff;
-webkit-box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
border-radius: .375rem;
-webkit-transition: all .3s ease;
transition: all .3s ease;
width: 100%;
height: 100%;
display: block;
/*padding: 1em;
margin: 1em;*/
}
.user_avatar img{    width: 100%;
    /* opacity: 0; */
    contain: strict;
    transition: all .3s ease-out;
  }
  .user_name{
    -webkit-box-flex: 1;
flex: 1;
flex-basis: .000000001px;
padding: 27px 14px 0;
cursor: pointer;
font-family: ProximaNova-Semibold,Helvetica,Arial,sans-serif;
font-size: 18px;
line-height: 1.44;
color: #343534;
margin: 0 0 5px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
font-weight: 600;
  }
  .user_details h3,.user_details p{
    color: #292828;
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    padding: 0 14px 0;
    font-family: ProximaNova-Semibold,Helvetica,Arial,sans-serif;
    font-size: 14px;
    white-space: nowrap;
        margin: .2em auto;
  }

.header-left{
  float: left
}
.header-right{
  float: right
}
.bottom-bar{
  position: fixed;
width: 100%;
bottom: 0;
}

.login-bar{
  margin: 6em auto;
}
.login-bar .first-field{
  border: 1px solid #d4d5d9;
  padding: 0;
  display: block;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  width: 100%;
  padding: 1em;
  height: 3em;
    border-radius: 0;
}
.login-details{
  padding-top: 80px !important;

padding-bottom: 64px !important;

}
.nav-links{
  float: right;
}
.nav-links a{
  color: #000000 !important;
height: 60px !important;
line-height: 60px !important;
margin: .2em auto;
text-decoration: none !important;
display: block !important;
font-size: 20px !important;
font-family: ff-clan-web-pro, "Helvetica Neue", Helvetica, sans-serif !important;
font-weight: 400 !important;
display: inline-block !important;
color: #1A1A1A !important;
border-color: transparent !important;
border-top-style: solid !important;
border-top-width: 4px !important;
line-height: 60px !important;
padding-left: 12px !important;
padding-right: 12px !important;
}
.login-details h1{
  font-family: ff-clan-web-pro, "Helvetica Neue", Helvetica, sans-serif !important;
font-weight: 500 !important;
font-size: 44px !important;
line-height: 60px !important;
letter-spacing: -.03em !important;
margin: 0 !important;
}
.login-details p{
  font-family: ff-clan-web-pro, "Helvetica Neue", Helvetica, sans-serif !important;
font-weight: 100;
font-size: 34px !important;
line-height: 60px !important;
letter-spacing: -.03em !important;
margin: 0 !important;
}
.login-div{
  padding-top: 80px !important;
padding-bottom: 64px !important;
}
.login-bar button{
  width: 100%;
text-decoration: none;
cursor: pointer;
display: inline-block;
text-align: center;
border: none;
line-height: 50px;
font-size: 14px;
font-weight: 600;
height: 50px;
padding: 0 2rem;
color: #fc8019;
letter-spacing: 0;
color: #fff;
background-color: #303030;
box-shadow: 0 1px 3px 0 rgba(0,0,0,.12);
text-transform: uppercase;
margin: 1em auto;

}
